@import url("/res/he-palette.css");
:root{
    --bg-gradient-a: rgba(0,0,0,0);
    --bg-gradient-b: rgba(0,0,0,.3);
    --bg-gradient-c: rgba(0,0,0,.6);
}
body{
    /* height: 100vh; */
    /* width: 100vw; */
    box-sizing: border-box;
    background-color: var(--he-denim);
    /* background: linear-gradient(radial, var(--he-denim) 0%,var(--he-dk-base) 100%); */
    overflow:hidden;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 10vw;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 0 !important
}
#darkness{
    height:100vh;
    width: 100vw;
    position:absolute;
    z-index:1000;
    background: radial-gradient(ellipse at center, var(--bg-gradient-a) 0%, var(--bg-gradient-a) 14%, var(--bg-gradient-b) 53%, var(--bg-gradient-c) 100%);
    transition: opacity .4s;
    top: 0;
    left: 0;
/*     display: none; */
}

.strokes{
    height:100vh;
    width: 1vw;
    margin: 0 2vw 0 .5vw;
    transform: skew(26deg);
    background: linear-gradient(to bottom, var(--he-scarlet) 0%,var(--he-goldenrod) 100%);
    overflow:hidden;
    transition: filter .4s;
}
.strokes:nth-of-type(odd){
    margin: 0 .5vw 0 2vw;
}

body:first-of-type:before, body:last-of-type:after{
    content: " ";
    height:100%;
    width:5vw;
    display:block;
    position: absolute;
    transform: skew(26deg);
    animation: floatEven 6s loop;
}

/* body:first-of-type:before{
    background:linear-gradient(to bottom, var(--he-denim) 50%,rgba(38,79,110,0) 75%);
    left: 11.5%;
    z-index:100;
    animation: floatOdd 8.5s loop;
}

body:last-of-type:after{
    background:linear-gradient(to bottom, rgba(38,79,110,0) 25%,var(--he-denim) 50%);
    right: 11.5%;
} */
.input{
    position:absolute;
    left:0;
    bottom:0;
    z-index: 10000;
}
@keyframes floatEven{
    0%{
        margin: 0 2vw 0 .5vw;
    }
    50%{
        margin: 0 1.7vw 0 .4vw;
    }
    100%{
        margin: 0 2vw 0 .5vw;                
    }
}
@keyframes floatOdd{
    0%{
        margin: 0 .5vw 0 2vw;
    }
    50%{
        margin: 0 .4vw 0 1.7vw;
    }
    100%{
        margin: 0 .5vw 0 2vw;                
    }
}
.patron{
    text-align: right;
    width: 46%;
}
.patron:nth-of-type(even){
    text-align:left
}
.patron:last-of-type:nth-of-type(odd){
    width:100%;
    text-align:center;
}
.patrons{
    text-align:center;
}
.patrons h3{
    text-align:left;
}
.patrons h1{
    display:inline-block;
    min-width:36%;
}
.patron8 h1{
    font-size: 26pt;
}

.patronFlex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.patron32, .patron8{
    margin-top: 2em;
}
h1{
    font-family: 'Raleway', sans-serif;
    /*! letter-spacing: 2px; */
    font-weight: 800;
    font-size: 28pt;
    margin: 0;
    padding: 0;
}
h3,h4,h5{
    font-family: "Motiva", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight:normal;
    margin:0;
}
h5{
    text-align:right;
    /* margin-top:1em; */
}
h1 + h4, h5 + h1{
    margin-top: 2em;
}
.credits{
    position: absolute;
    top: 0;
    right: 444px;
    z-index: 10000;
    margin: 0px 50px 0 0;
    padding: 50px 0;
    color: white;
    width: 900px;
    /*! display: flex; */
    overflow: hidden;
    /* height: 50%; */
    justify-content: space-between;
    transform: translateX(50%);
    transition: transform .8s;
    flex-direction: column;
    height: 540px;
}
.credits1{
    margin-top:50px;
}

.credits1, .credits2{
    width:100%;
    transition: opacity .8s;
}

.credits2,.credits3{
    margin-top:50px;
}
.credits3{
    margin-bottom:50px;
    height: 540px;
}
.credits h1{
    font-size: 2.4em;
}
.credits h4{
    font-size: 1.4em;
}
.elsewhere{
    position:absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index:10000;
    margin: 20px;
}
.elsewhere:nth-of-type(odd), .credits:nth-of-type(odd){
    z-index:100;
    text-shadow: 
        -2px -2px 0 var(--he-denim),
        2px -2px 0 var(--he-denim),
        -2px  2px 0 var(--he-denim),
        2px  2px 0 var(--he-denim);
}
.elsewhereItem{
    font-family: "Raleway", sans-serif;
    font-weight:800;
    font-size:22pt;
    display:flex;
    align-items: center;
}
.elsewhereItem:before{
    content:"";
    width: 30px;
    height: 30px;
    display:inline-block;
    margin: 6px 12px;
    font-family: "Ionicons";
    font-weight: normal;
    text-align:center;
}
.elsewhereItem.heavyelement:before{
    background-image: url("/res/logo.png");
    background-size: cover;
}
.elsewhereItem.offtopical:before{
    content: "\f2ec";
    border-radius: 50%;
    background-color: var(--he-white);
    color: #132737;
    display: flex;
    justify-content: flex-end;
    font-size: 20pt;
    align-items: center;
    flex-direction: column;
}
.elsewhereItem.offtopical{
    position: relative;
}
.elsewhereItem.offtopical:after{
    content: "\f394";
    font-family: "Ionicons";
    position: absolute;
    left: 27px;
    top: 10px;
    font-size: 14px;
}
.elsewhereItem.twitch:before{
    content: "\f4ed";
}
.elsewhereItem.twitter:before{
    content: "\f243";
}
.elsewhereItem.librem:before{
    content: "\F2B2";
}
countdown-timer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,.8);
    color: black;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 130pt;
    font-weight:1000;
}
#merch{
    position: absolute;
    bottom:0;
    width:950px;
    left:475px;
    z-index: 1000;
}
.shirt{
    height:560px;
    width:470px;
    background-size: cover;
    display:inline-block;
    transform: translateY(150px);
    animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
#tlg{
    background-image: url("/tlg/spy-brick.png");
    /* height:480px;
    width:398px; */
    position:absolute;
    bottom:-35px;
    left:100px;
    transform: rotateZ(-26deg);
    transform-origin:bottom right;
    animation: tlg 1s running;
    animation-play-state: paused;
}
#openSource{
    background-image: url("/tlg/open-source.png");
    position:absolute;
    bottom:0;
    left:calc(50% - 212px);
    z-index:-1;
    animation: foss 1s running;
    animation-play-state: paused;
}
#foss{
    background-image: url("/tlg/foss.png");
    position:absolute;
    bottom:-35px;
    right:75px;
    transform: rotateZ(26deg);
    transform-origin:bottom left;
    z-index:-2;
    animation: foss 1s running;
    animation-play-state: paused;
}

@keyframes tlg{
    0%{
        left:280px;
        bottom:-250px;
    }
/*     75%{
        bottom:-50px;
        left:110px;
    } */
/*     100%{
        bottom:-35px;
        left:100px;
    }     */
}
@keyframes foss{
    0%{
        right: 280px;
        bottom:-250px;
    }
/*     75%{
        bottom:-50px;
        left:110px;
    } */
/*     100%{
        bottom:-35px;
        right:75px;
    }     */
}
@keyframes openSource{
    0%{
        bottom:-250px;
    }
}
#interval {
    position: absolute;
    color: white;
    left: 20%;
    top: 25%;
    font-family: "Raleway";
    font-size: 26pt;
    z-index: 1000;
    font-weight: 1000;
}
.fade-out {
    /* -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    /* mask: url(#fade_right_svg_mask); */
    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}


tlg-rotate{
    /*! height:400vh; */
    /*! width:136vw; */
/*     background-color:var(--he-scarlet); */
    /*! overflow:hidden; */
    transform: rotate(-45deg) translateY(-8%) translateX(48%);
    display:block;
    /*! cursor:none; */
}
tlg-row{
    display:block;
    animation:rowScroll 30s infinite linear;
    white-space: nowrap;
}
tlg-row:nth-of-type(odd){
    margin: 90px -190px 90px;
}
@keyframes rowScroll{
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(-270px);
    }
}
@keyframes scrollCredits{
    0%{
        transform:translateY(0%)
    }
    100%{
        transform:translateY(-51%);
    }
}
.credits-container{
    animation-name: scrollCredits;
    animation-duration: 20s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.credits-container.playing{
    animation-play-state: running;
    animation-fill-mode: forwards;
}
tlg-logo{
    /*! margin: 40px; */
    height: 90px;
    width:  270px;
    background-image: url("/res/tlg-new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    opacity:0.2;
}